<section>
    <article class="container student_table">
        <table class="table table-bordered table-responsive my-4">
            <thead>
                <tr>
                    <th>Student Photo</th>
                    <th>Student Name</th>
                    <th>Student dob</th>
                    <th>Student location</th>
                    <th>Student email</th>
                    <th>Student education</th>
                    <th>Student gender</th>
                    <th>Student skills</th>
                    <th>Student percentage</th>
                    <th>Student phonenumber</th>
                    <th>Details</th>

                </tr>
            </thead>

            {{#each student}}
            <tbody>
                <tr>
                    {{#if this.student_photo}}
                    <td><img src="{{trimString student_photo.0.path}}" /></td>
                    {{else}}
                    <td>
                        <img
                            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
                    </td>

                    {{/if}}

                    <td>{{student_name}}</td>
                    <td>{{student_dob}}</td>
                    <td>{{student_location}}</td>
                    <td>{{student_email}}</td>
                    <td>{{student_education}}</td>
                    <td>{{student_gender}}</td>
                    <td>
                        {{#each student_skills}}
                        <span class="badge badge-success">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>{{student_percentage}}</td>
                    <td>{{student_phone}}</td>
                    <td><a href="/student/student_details/{{_id}}" class="btn btn-primary btn-sm">Details</a></td>
                </tr>
            </tbody>

            {{else}}
            <h1>No students profile here</h1>
            {{/each}}
        </table>
    </article>
</section>